  
  
  
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/home">
          <i class="bi bi-card-list"></i>
          <span>Home</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="NotStartedtask">
           <i class="bi bi-calendar2"></i>
          <span>Not Started</span>
        </a>
      </li>
     

      <li class="nav-item">
        <a class="nav-link collapsed" href="/inprogresstask">
          <i class="bi bi-calendar3"></i>
          <span>In Progress Task</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/completedtask">
          <i class="bi bi-calendar-check"></i>
          <span>Completed Task</span>
        </a>
      </li>

    </ul>

  </aside>